# Database with MySQL

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/loa/anaconda3/envs/codezero/lib/python3.11/site-packages (8.3.0)

In [2]:
import mysql.connector
from mysql.connector import errorcode

In [3]:
config = {
  'host': '<server-name>.mysql.database.azure.com',
  'user': '<user-name>',
  'password': '<password>',
  'database': '<database-name>',
}

In [4]:
try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()

Connection established

In [6]:
  # Delete table
  # cursor.execute("DROP TABLE inventory;")
  # cursor.execute("DROP TABLE IF EXISTS inventory;")

In [7]:
  # Create table
  cursor.execute("CREATE TABLE inventory (id serial PRIMARY KEY, title VARCHAR(50), contents VARCHAR(300));")
  print("Finished creating table.")

Finished creating table.

In [8]:
  # Insert some data into table
  cursor.execute("INSERT INTO inventory (title, contents) VALUES (%s, %s);", ("토익보카 공부", "챕터 3, 단어 100개 암기"))
  print("Inserted",cursor.rowcount,"row(s) of data.")

Inserted 1 row(s) of data.

In [9]:
  # Read data
  cursor.execute("SELECT * FROM inventory;")
  rows = cursor.fetchall()
  print("Read",cursor.rowcount,"row(s) of data.")

Read 1 row(s) of data.

In [10]:
  # Print all rows
  for row in rows:
  	print("Data row = (%s, %s, %s)" %(str(row[0]), str(row[1]), str(row[2])))

Data row = (1, 토익보카 공부, 챕터 3, 단어 100개 암기)

In [11]:
  # Delete a data row in the table
  cursor.execute("DELETE FROM inventory WHERE title=%(param1)s;", {'param1':"토익보카 공부"})
  print("Deleted",cursor.rowcount,"row(s) of data.")

Deleted 1 row(s) of data.

In [12]:
  # Read data
  cursor.execute("SELECT * FROM inventory;")
  rows = cursor.fetchall()
  print("Read",cursor.rowcount,"row(s) of data.")

Read 0 row(s) of data.

In [13]:
  # Cleanup
  conn.commit()
  cursor.close()
  conn.close()
  print("Done.")

Done.